
JiuAnProject/UserSettings/Layouts/default-2021.dwlt
JiuAnProject/UserSettings/Search.settings

#Luban
Tools/Luban/
Tools/Luban.ClientServer/
Configs/.cache.meta
GenerateDatas/

#FileServer
Tools/FileServer/AssetRoot
Tools/FileServer/Default_0/*

JiuAnProject/ProjectSettings/CommonBurstAotSettings.json
JiuAnProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json
Designer/*
BuildProject/*
